{% extends 'base2.html.twig' %}
{% block title %}page2{% endblock %}

{% block body %}
<div class="container">
    


    <h1>Ma premiere page</h1>
   <h1>Members</h1>
<ul>
    {% for name in tab %}
        <li>{{ name }}</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
