{% extends 'base.html.twig' %}
{% block title %}page2{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <h1>Ma premiere page</h1>
   <h1>Members</h1>
<ul>
    {% for name in tab %}
        <li>{{ name }}</li>
    {% endfor %}
</ul>
{% endblock %}
