{% extends 'base.html.twig' %}

{% block title %}Detail produit{% endblock %}

{% block body %}
<div class="container">
  <h1>Detail produit</h1>
  <p>Nom du produit : {{product.name}}</p>
    <p>Prix du produit : {{product.price}}</p>
    <p>Category du produit : {{product.category.name}}</p>
 </div> 

{% endblock %}